// @import 'def';
@import 'reset';

html {
  font-size: 100%;
}
body, html {
  line-height: 1;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  color: #666;
}
@media only screen and (max-width: 319px) {
  html{
    font-size: (300/375) * 100%
  }
}
@media only screen and (max-width: 320px) and (max-width: 374px){
  html{
    font-size: (320/375) * 100%
  }
}

@media only screen  and (min-width: 375px) and (max-width: 413px) {
  html{
    font-size: 100%
  }
}

@media only screen and (min-width: 414px) and (max-width: 767px) {
  html{
    font-size: (414/375) * 100%
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  html{
    font-size: 100%
  }
}

@media only screen and (min-width: 1280px) {
  html{
    font-size: 100%
  }
}

.slide-right-enter-active,
  .slide-right-leave-active,
  .slide-left-enter-active,
  .slide-left-leave-active {
    will-change: transform;
    transition: all 500ms;
    position: absolute;
  }

  .slide-right-enter {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  .slide-right-leave-active {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  .slide-left-enter {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  .slide-left-leave-active {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  
  // 公共样式
  .g-order-info{
    padding-top: size(20);  
    .item{
      display: flex;
      line-height: size(40);
      margin-bottom: size(20);
      font-size: size(26);
    }
    .l{
      width: size(150);
      font-size: size(24);
      margin-right: size(50);
      color: #818181;
    }
    .r{
      flex: 1;
      color: #161616;
      text-align: left;
      font-weight: 500;
    }
  }

  .g-order-status{
    color: #03B097;
    &.status-wait{
      color: #FA6400;
    }
    &.status-give{
      color: #d05392;
    }
    &.status-appeal{
      color: #a5a09e;
    }
    &.status-cancel{
      color: #a5a09e;
    }
  }
  
  