
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	// font-size: 100%;
	// font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input,button{
    -webkit-appearance: none; // 消除输入框核按钮的默认外观
    border-radius: 0;
    border: none;
    font: inherit;
}
*{
    box-sizing: border-box;
    // 禁用iso长按弹窗，比如复制图片
    -webkit-touch-callout: none;
}
a{
	text-decoration: none;
}

input,
textarea,
select {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  &:focus{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-modify: read-write-plaintext-only;
  }
}

select,
textarea,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"] {
  width: 100%;
  // height: size(80);
  -webkit-appearance: none;
  // padding: size(20) size(32);
  margin-bottom: 0;
  background-color: #fff;
  // border: 1px solid rgba(0, 0, 0, .2);
  border: none;
  border-radius: size(6);
  outline: none;
  -webkit-user-select: text;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="search"] {
  // font-size: size(32);
  // height: size(68);
  // text-align: center;
  // background-color: rgba(0,0,0,.1);
  // border: 0;
  // border-radius: size(12);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input[type=search]::-webkit-search-cancel-button{
  -webkit-appearance: none;
}

input[type="search"]:focus {
  text-align: left;
}

textarea {
  height: auto;
  resize: none;
  font-size: size(32);
  font-family: inherit;
}
img{
  width: 100%;
  display: block;
}
select {
  margin-top: 0;
  height: auto;
  font-size: size(28);
  background-color: #fff;
  border: 0!important;
  &:focus{
    -webkit-user-modify: read-only;
  }
}
html,body{
  width: 100%;
  height: 100%;
}